<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Data Populated Page</title>
  </head>
  <body>
    <div><%= user %></div>
    <div><%= role %></div>
    <div><%= permission %></div>
  </body>
</html>
