<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/signin/styles.css" />
    <script src="/signin/script.js"></script>
    <title>Login Page</title>
  </head>

  <body>
    <div class="login-container">
      <h1>Login Page</h1>
      <div class="form-group flexSwitch">
        <label class="switch">
          <input type="checkbox" id="toggle-switch" />
          <span class="slider round"></span>
        </label>
        <span class="label-text" id="label-text">login by password</span>
      </div>
      <div class="form-group">
        <label for="username">mail or phone number</label>
        <input
          type="text"
          id="mailorphone"
          name="mailorphone"
          placeholder="Enter your mail or phone number"
        />
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input
          type="password"
          id="password"
          name="password"
          placeholder="Enter your password"
        />
      </div>
      <div class="form-group">
        <button class="btn w-full" style="display: none" id="sendcode">
          send auth code
        </button>
      </div>
      <div>
        <input type="checkbox" id="remember-me" name="remember-me" />
        <label for="remember-me">Remember me</label>
      </div>
      <div class="form-group">
        <a href="#">Forgot password?</a>
      </div>
      <div class="button-group">
        <a href="/signup" class="btn" id="register-button">Register</a>
        <button class="btn" id="login-button">Login</button>
      </div>
    </div>
  </body>
</html>
