<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>MFA verify</title>
    <link rel="stylesheet" href="/mfaVerify/styles.css" />
    <script src="/mfaVerify/script.js"></script>
  </head>
  <body>
    <div class="mainContainer">
      <div class="box">
        <div class="line">
          <div class="title">input mfa code</div>
        </div>
        <div class="line">
          <input type="text" id="authCode" />
        </div>
        <div class="line footerAction">
          <button type="button" id="cancelBtn">cancel</button>
          <button type="button" id="comfirmBtn">confirm</button>
        </div>
      </div>
    </div>
  </body>
</html>
