* {
  box-sizing: border-box;
}

body {
  background-color: rgb(230, 230, 230);
}

.mainContainer {
  width: 100vw;
  height: 100vh;
  display: grid;
  place-items: center;
}

.box {
  width: 300px;
  padding: 20px;

  background-color: rgb(255, 255, 255);
  transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 3px -2px,
    rgba(0, 0, 0, 0.14) 0px 3px 4px 0px, rgba(0, 0, 0, 0.12) 0px 1px 8px 0px;
}

.mainContainer .line:not(:first-child) {
  margin-top: 15px;
}

.line {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.title {
  font-size: 1.17rem;
  font-weight: bold;
}

#authCode {
  width: 80%;
  height: 40px;
  border: 2px solid slateblue;
  border-radius: 10px;
  outline: none;
  padding: 10px;
  font-size: 1.17rem;
}

#authCode:focus-visible {
  border-color: blueviolet !important;
}

.footerAction {
  display: flex;
  align-items: center;
}
.footerAction button {
  width: 100px;
  height: 35px;
  border-radius: 10px;
  border: none;
  color: rgb(230, 230, 230);
  cursor: pointer;
  transition: scale 0.3s ease;
}

.footerAction button:not(:last-child) {
  margin-right: 15px;
}

#cancelBtn {
  background-color: #6c757d;
  border-color: #6c757d;
}

#cancelBtn:active {
  background-color: #406485;
  border-color: #406485;
  scale: 0.9;
}

#comfirmBtn {
  background-color: blueviolet;
  border-color: blueviolet;
}

#comfirmBtn:active {
  background-color: #7824c7;
  border-color: #7824c7;
  scale: 0.9;
}
